/**
 * ex04-layout
 *
 * Asst.Prof.Dr.Santi Nuratch
 * Embedded Computing and Control Laboratory | ECC-Lab @ KMUTT
 * 21 November, 2019
 */

.ui-wrapper {
    margin: 20px 10% 20px 10%;
}
.card-header{
    text-align: center;
}
.card-body {
    text-align: center;
}
